.body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
}

.logo {
  height: 41px;
  width: 41px;
  background-color: rebeccapurple;
  opacity: 40%;
  border-radius: 50%;
  display: flex;
  margin-left: 204px;
}

.logo__center {
  height: 13px;
  width: 13px;
  background-color: #fb8f1d;
  opacity: 80%;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-self: flex-end;
}

.logo__text {
  color: #fb8f1d;
}

.logo__text:hover {
  text-decoration: none;
  color: rebeccapurple;
  opacity: 40%;
}

.logo__menu {
  text-decoration: none;
}

.menu__page {
  display: flex;
  justify-content: end;
  margin-top: 56px;
  margin-right: 190px;
}

.menu__link {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link:hover {
  text-decoration: none;
  color: blueviolet;
  opacity: 50%;
}

.menu__link_color_black {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #202336;
  opacity: 70%;
  margin-right: 35px;
}

.menu__link_color_grey {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #b8becd;

  margin-right: 34px;
}

.link__button {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
  height: 34px;
  width: 132px;
  border-radius: 8px;
  text-decoration: none;
}

.link__button_color_white {
  margin-right: 18px;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
}

.link__button_color_orange {
  background-color: #fb8f1d;
  color: azure;
}

.main__title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
  margin-top: 200px;
  margin-left: 189px;
  color: #202336;
}

.main__subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 74px;
  margin-left: 191px;
  color: #202336;
}

.main__line {
  margin-top: 21px;
  margin-left: 191px;
  color: #202336;
  font-weight: bold;
}

.main__image {
  width: 687px;
  height: 654px;
  position: absolute;
  top: 167px;
  right: 105px;
  z-index: -1;
}

.main__image:hover {
  opacity: 50%;
  background-color: #202336;
}

.button {
  outline: 1px solid blue;
}

.button-menu {
  width: 35%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 48px;
  margin-left: 191px;
}

.button-menu:last-child {
  justify-content: center;
}

.button__nav {
  height: 52px;
  width: 220px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.link__button_border-color_grey {
  border: 1px solid #b8becf;
  color: #b8becd;
}
